body {
  background: -webkit-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* W3C */ 
  text-align: center;
}

.npc_deck {
  background: 
    url('../Blue_Back.svg') no-repeat 0 0,
    url('../Blue_Back.svg') no-repeat 2px 0,
    url('../Blue_Back.svg') no-repeat 4px 0,
    url('../Blue_Back.svg') no-repeat 6px 0;
  background-size: 120px 120px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 120px;
}

.npc_deck span, .player_deck span {
  display: none;
}

.player_deck {
  display: block;
  background: 
    url('../Blue_Back.svg') no-repeat 0 0,
    url('../Blue_Back.svg') no-repeat -2px 0,
    url('../Blue_Back.svg') no-repeat -4px 0,
    url('../Blue_Back.svg') no-repeat -6px 0;
  background-size: 120px 120px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 120px;
}
#current_card img, 
#my_faceup img, 
#my_facedown img, 
#enemy_card img, 
#enemy_faceup img, 
#enemy_facedown img {
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 120px;
}

#enemy_faceup img {
  position: absolute;
  z-index: 3;
  left: 48%;
  top: 376px;
}

#my_faceup img {
  position: absolute;
  z-index: 2;
  left: 48%;
}

#my_facedown img {
  margin-top: 20px;
} 

#enemy_facedown img {
  margin-bottom: 20px;
}

.flip-container {
  height: 300px;
  perspective: 1000px;
}

.flip-container.flip .flip_action {
  transform: rotateX(180deg);
}

.flip-contaner, .front, .back {
  width: 120px;
  height: 280px;
}

.flip_action {
  transition: 0.3s;
  transform-style: preserve-3d;
  position: relative;
  transform-origin: 100% 100px;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  /*top: -16px;*/
  top: 0;
  left: 46.8%;
}

.front {
  z-index: 2;
  transform: rotateX(180deg);
}

.back {
  transform: rotateX(0deg);
}

.back_card {
  background: url('../Blue_Back.svg') no-repeat 0 0;
  width: 120px;
  height: 120px;
  background-size: 120px 120px;
}