body {
  background: url('../pool_table.png');
  text-align: center;
  padding-top: 70px;
}

.war {
  /*display: none;*/
  visibility: hidden;
  font-size: 10em;
  font-family: 'Permanent Marker', cursive;
  background: linear-gradient(179deg, #ff0000, #fffa00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;

  -webkit-animation: Fire 3s ease infinite;
  -moz-animation: Fire 3s ease infinite;
  animation: Fire 3s ease infinite;
}

.npc_deck {
  background: 
    url('../Blue_Back.svg') no-repeat 0 0,
    url('../Blue_Back.svg') no-repeat 2px 0,
    url('../Blue_Back.svg') no-repeat 4px 0,
    url('../Blue_Back.svg') no-repeat 6px 0;
  background-size: 120px 120px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 120px;
}

.npc_deck span, .player_deck span {
  display: none;
}

.player_deck {
  display: block;
  background: 
    url('../Blue_Back.svg') no-repeat 0 0,
    url('../Blue_Back.svg') no-repeat -2px 0,
    url('../Blue_Back.svg') no-repeat -4px 0,
    url('../Blue_Back.svg') no-repeat -6px 0;
  background-size: 120px 120px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 120px;
}
#current_card img, 
#my_faceup img, 
#my_facedown img, 
#enemy_card img, 
#enemy_faceup img, 
#enemy_facedown img {
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 120px
}

#enemy_card img {
  margin-top: 35px;
}

#enemy_faceup img {
  position: absolute;
  z-index: 3;
  left: 46.9%;
  top: 280px;
}

#my_faceup img {
  position: absolute;
  z-index: 2;
  left: 47%;
  top: 550px;
}

#my_facedown img {
  position: absolute;
  z-index: 1;
  left: 47%;
  top: 570px;
} 

#enemy_facedown img {
  position: absolute;
  z-index: 1;
  left: 46.9%;
  top: 255px;
}

.flip-container, .flip-c {
  /*height: 100px;*/
  perspective: 1000px;
}

.flip-c.flips .flip-a {
  transform: rotateX(-180deg);
}

.flip-container.flip .flip-action {
  transform: rotateX(180deg);
}

.flip-contaner, .front, .back, .back-e, .front-e {
  width: 120px;
  height: 120px;
}

.flip-action, .flip-a {
  transition: 0.3s;
  transform-style: preserve-3d;
  position: relative;
  transform-origin: 100% -140px;
}

.flip-a {
  transform-origin: 100% 0px;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: -120px;
  left: 46.9%;
}

.front-e, .back-e {
  backface-visibility: hidden;
  position: absolute;
  top: -120px;
  left: 46.8%;
}

.front {
  z-index: 2;
  transform: rotateX(180deg);
}

.front-e {
  z-index: 2;
  transform: rotateX(180deg);
}

.back {
  transform: rotateX(0deg);
}

.back-e {
  transform: rotateX(0deg);
}

.back_card {
  background: url('../Blue_Back.svg') no-repeat 0 0;
  width: 120px;
  height: 120px;
  background-size: 120px 120px;
}

.play {
  margin: 10px;
}

@-webkit-keyframes Fire {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes Fire {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes Fire { 
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}