body {
  background: -webkit-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* W3C */ 
  text-align: center;    
}

.npc_deck {
  background: url('../Blue_Back.svg') no-repeat 0 0;
  background-size: 200px 200px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

.npc_deck span, .player_deck span {
  display: none;
}

.player_deck {
  display: block;
  background: url('../Blue_Back.svg') no-repeat 0 0;
  background-size: 200px 200px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}
#current_card img, #my_faceup img, #my_facedown img, #enemy_card img, #enemy_faceup img, #enemy_facedown img {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}
