@mixin card-size($size) {
  width: $size;
  height: $size;
}

@mixin center($margin) {
  margin-left: $margin;
  margin-right: $margin;
}

@mixin card-position($position, $top, $left, $right) {
  position: $position;
  top: $top;
  left: $left;
  right: $right;
}

body {
  text-align: center;
  background-color: #000;
  background: url('../images/dark_wood.jpg');
  border: 25px solid transparent;
  .game_window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background: url('../images/pool_table.png');
  }
}

.title {
  .war {
    font-size: 10em;
    font-family: 'Permanent Marker', cursive;
    background: linear-gradient(179deg, #ff0000, #fffa00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    -webkit-animation: fire 3s ease infinite;
    -moz-animation: fire 3s ease infinite;
    animation: fire 3s ease infinite;
  }
  .instructions {
    @include card-position(absolute, 480px, 0, 0);
    @include center(auto);
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 2px 2px #000;
    color: white;
    font-size: 25px;
  }
}

.enemy {
  .npc_deck {
    background: 
      url('../images/Blue_Back.svg') no-repeat 0 0,
      url('../images/Blue_Back.svg') no-repeat 2px 0,
      url('../images/Blue_Back.svg') no-repeat 4px 0,
      url('../images/Blue_Back.svg') no-repeat 6px 0;
    background-size: 120px 120px;
    @include center(auto);
    @include card-size(120px);
    span {
      display: none;
    }
  }
  .flip-c {
    .flip-a {
      transform-origin: 100% 0px;
      .front-e {
        @include card-position(absolute, -120px, 0, 0);
        @include center(auto);
        #enemy_card img {
          margin-top: 35px;
        }
      }
      .back-e {
        @include card-position(absolute, -120px, 0, 0);
        @include center(auto);
      }
    }
  }
  #enemy_facedown img {
    @include card-position(absolute, 185px, 0, 0);
    @include center(auto);
    z-index: 1;
  }
  #enemy_faceup img {
    @include card-position(absolute, 210px, 0, 0);
    @include center(auto);
    z-index: 2;
  }
}

.player_deck {
  display: block;
  background: 
    url('../images/Blue_Back.svg') no-repeat 0 0,
    url('../images/Blue_Back.svg') no-repeat -2px 0,
    url('../images/Blue_Back.svg') no-repeat -4px 0,
    url('../images/Blue_Back.svg') no-repeat -6px 0;
  background-size: 120px 120px;
  @include center(auto);
  @include card-size(120px);
  span {
    display: none;
  }
}

.player {
  #my_faceup img {
    @include card-position(absolute, 470px, 0, 0);
    @include center(auto);
    z-index: 2;
  }
  #my_facedown img {
    @include card-position(absolute, 490px, 0, 0);
    @include center(auto);
    z-index: 1;
  }
  .flip-container{
    .flip-action {
      .back {
        @include card-position(absolute, -120px, 0, 0);
        @include center(auto);
      }
      .front {
        @include card-position(absolute, -120px, 0, 0);
        @include center(auto);
      }
    }
  }
}

#current_card img, 
#my_faceup img, 
#my_facedown img, 
#enemy_card img, 
#enemy_faceup img, 
#enemy_facedown img {
  @include center(auto);
  @include card-size(120px);
}

.back_card {
  background: url('../images/Blue_Back.svg') no-repeat 0 0;
  @include card-size(120px);
  background-size: 120px 120px;
}

.flip-container, .flip-c {
  perspective: 1000px;
}

.flip-c.flips .flip-a {
  transform: rotateX(-180deg);
}

.flip-container.flip .flip-action {
  transform: rotateX(180deg);
}

.flip-contaner, .front, .back, .back-e, .front-e {
  @include card-size(120px);
}

.flip-action, .flip-a {
  transition: 0.3s;
  transform-style: preserve-3d;
  position: relative;
  transform-origin: 100% -140px;
}

.front, .back, .front-e, .back-e {
  backface-visibility: hidden;
}

.front, .front-e {
  z-index: 2;
  transform: rotateX(180deg);
}

.back, .back-e {
  transform: rotateX(0deg);
}

.play {
  margin-top: 10px;
}

#counter {
  font-family: 'Oswald', sans-serif;
  text-shadow: 2px 2px 2px #000;
  color: white;
  padding-bottom: 10px;
}

#win_lose {
  @include card-position(absolute, 625px, 0, 0);
  font-family: 'Oswald', sans-serif;
  text-shadow: 2px 2px 2px #000;
  color: white;
  font-size: 18px;
}

@-webkit-keyframes fire {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes fire {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes fire { 
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}